html {
    box-sizing: border-box;
}
body {
    background-color: black; 
}
.header-container {

    background-image: url(../images/justice-league-logo2.png);  
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 30%;  
    height: 200px;
    background-position-y: 22%;
    margin: -30px;
    opacity: 0%;
}
.container {
    background-color: black;
    border: 3px solid white;
    width: 770px;
    position: relative;
    z-index: 2;
    margin-top: 50px;
}
#time-left {
    color: rgba(255, 0, 0, 0.795);
}
.answer-choice {
    display: block;
    margin: 0 auto;
}
#answer-section {
    color: white;
}
.images {
    width: 400px;
    height: auto;
}

.logo {
    text-align: center;
}
.background-img {
    vertical-align: middle;
    border-style: none;
    width: 30%;
}
.characters {
    width: 70%;
    margin: -65px;
    position: relative;
    z-index: 1;
}
h1 {
    color: whitesmoke;
    font-size: 28px;
}
/* h3 { */
    /* font-size: 20px; */
/* } */
p {
    font-size: 20px;
}
